<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vibetest
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vibetest</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ionic Appへようこそ!</strong>
    <p>これは空のIonicアプリのテンプレートです。Android/iOS開発の準備ができています。</p>
    
    <ion-button expand="block" color="primary">
      <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
      モバイルアプリ開発
    </ion-button>
  </div>
</ion-content>